@import 'variables';
* {
    margin: 0;
    padding: 0;
    font-family: $font-family-medium;
    font-size: $font-size-texts;
  }

a {
    text-decoration: none;
    color: inherit;
}
@import 'pages/pages';
@import 'components/components';