@font-face {
    font-family: 'Circular Spotify - Medium';
    src: url('/fonts/CircularSpotifyText-Medium.otf');
};


$primary : #1DB954; 
$primary-dark: #1ed760;
$secondary : #B3B3B3;       
$secondary-light: #EBEBEB;
$white : #FFFFFF;
$black: #191414;

$font-family-medium: 'Circular Spotify - Medium';
$font-size-titles: 24px;
$font-size-texts: 18px;

$breakpoint-sm : 576px;
$breakpoint-md : 992px;
$breakpoint-lg : 1200px;