@font-face {
    font-family: 'Circular Spotify - Medium';
    src: url('/fonts/CircularSpotifyText-Medium.otf');
};


$primary : #1DB954; 
$primary-dark: #1ed760;
$secondary : #B3B3B3;       
$secondary-dark: #424242;
$secondary-light: #EBEBEB;
$white : #FFFFFF;
$black: #121212;
$danger: #a62c2c;

$font-family-medium: 'Circular Spotify - Medium';
$font-size-titles: 28px;
$font-size-headers: 24px;
$font-size-texts: 18px;
$font-size-small: 14px;

$border: solid gray 0.5px;

$breakpoint-sm : 576px;
$breakpoint-md : 992px;
$breakpoint-lg : 1200px;