.player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: auto;
    margin-bottom: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
    .player-content {
        display: flex;
        align-items: center;
        background-color: rgb(41, 0, 128);
        width: 95%;
        border-radius: 10px;
        .player-img {
            width: 15%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 100%;
            }
        }
        .player-info {
            width: 55%;
            display: flex;
            flex-direction: column;
            color: $white;
            p {
                margin: 0;
                padding: 0;
                font-size: $font-size-small;
                font-family: $font-family-light;
            }
        }
        .player-info > *:first-child {
            font-family: $font-family-medium;
        }
        .player-like {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 15%;
            .player-icon-like {
                width: 40%;
                color: $white;
            }
        }
        .player-control {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 15%;
            .player-icon-control {
                width: 30%;
                color: $white;
            }
        }
    }
}

.complete-player {
    background-color: orange;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    z-index: 1;
    transition: bottom 0.1s ease-in-out;
    .complete-player-content {
        padding: 1.7rem;
        display: flex;
        flex-direction: column;
        .complete-player-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .complete-player-close {
                color: $white;
            }
        }
        .complete-player-picture {
            margin: 2rem 1rem;
        }
        .complete-player-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $white;
        }
        .complete-player-info > div > p:nth-child(2) {
            font-family: $font-family-light;
        }
        .complete-player-timeline {
            width: 100%;
            height: 2px;
            background-color: $secondary;
            margin: 2rem 0rem;
        }
    }
}

.show-player {
    bottom: 0;
}

.hidde-player{
    bottom: -100vh;
}

.controls {
    margin: 1rem 0rem;
    .controls-content {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 5px;
        .controls-item {
            display: flex;
            align-items: center;
            justify-content: center;
            .controls-button {
                color: $white;
            }
            .play {
                background-color: $white;
                color: $black;
                padding: 1rem;
                width: 35px;
                height: 35px;
                border-radius: 100%;
                padding-left: 20px;
            }
        }
    }
}

@media screen and (min-width: $breakpoint-md) {
    .player {
        margin-bottom: 0;
        .player-content {
            width: 100%;
            background-color: $dark;
            .player-img {
                width: 5%;
            }
            .player-info {
                width: auto;
            }
            .player-like {
                width: 5%;
            }
            .player-control {
                width: 75%;
            }
        }
    }

    .controls {
        .controls-content {
            grid-gap: 25px;
            .controls-item {
                .play {
                    width: 15px;
                    height: 15px;
                    padding: 0.5rem;
                }
            }
        }
    }
}